@model WorkTrackingSystem.Models.Job

@{
    ViewData["Title"] = "Xóa công việc"; // Vietnamese title
    Layout = "~/Areas/AdminSystem/Views/Shared/_Admin.cshtml";
}

<h1 class="text-center mb-4"><i class="fas fa-tasks"></i> Xóa công việc</h1>

<h3 class="text-danger">Bạn có chắc chắn muốn xóa công việc này?</h3>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">
                        Tên
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-3">
                        Mô tả
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-3">
                        Hạn chót 1
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Deadline1)
                    </dd>
                    <dt class="col-sm-3">
                        Hạn chót 2
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Deadline2)
                    </dd>
                    <dt class="col-sm-3">
                        Hạn chót 3
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Deadline3)
                    </dd>
                    <dt class="col-sm-3">
                        Ngày hoàn thành
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.CompletionDate)
                    </dd>
                    <dt class="col-sm-3">
                        Trạng thái
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                    <dt class="col-sm-3">
                        Danh mục
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Category.Name) @* Display Category Name *@
                    </dd>
                    <dt class="col-sm-3">
                        Nhân viên
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Employee.FirstName) @Html.DisplayFor(model => model.Employee.LastName) @* Display Employee Name *@
                    </dd>

                </dl>

                <form asp-action="Delete" class="mt-3">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Xóa</button>
                    <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Trở về danh sách</a>
                </form>
            </div>
        </div>
    </div>
</div>

